nav {
  font-size: 30px;
  display: flex;
  justify-content: center;
  background-color: burlywood;
}

header {
  color: antiquewhite;
  display: flex;
  background-color: black;

  justify-content: center;

  font-size: 50px;
}

nav {
  display: flex;

  justify-content: space-around;
}

.textIntroLeft {
  display: flex;
  float: left;
  width: 350px;
  font-size: 20px;
  background-color: peru;
  height: 350px;
  align-items: center;
}

.textIntroMid {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  margin-left: 450px;
  font-size: 20px;
  height: 350px;
}

.textIntroRight {
  display: flex;
  float: right;
  width: 350px;
  height: 350px;
  margin-top: -350px;
  font-size: 20px;
  background-color: peru;
  align-items: center;
}

footer {
  margin-top: -16px;
  color: antiquewhite;
  background-color: black;
}
